$primary-color : #51e351;
$secondary-color : #ffffff;
$text-color : #ffffff;
$background-color : #000000;
$logo-color : #51e351;
$button-background-light : #f5f5f5;
$button-background-dark : #6d6d6eb3;
$button-mobile-light : #f5f5f5;
$button-mobile-dark : #000000;
$mobile : 768px;
$hover : #ffffffb3;
$star-color : #ffb900;
$star-empty : #555555