@use "variables" as variable;
@use "mixins" as mixin;

* {
    box-sizing : border-box;
    margin : 0;
    padding : 0;
}

body {
    font-family : "Inter", sans-serif;
    background-color : variable.$background-color;
    color : variable.$text-color;
}

header {
    height : 10vh;
}

a {
    color : variable.$text-color;
    text-decoration : none;
    transition : color 0.2s;
}

.navbar {
    display : fixed;
    align-items : center;
    padding : 1.5rem 3rem;
    position : sticky;
    top : 0;
    left : 0;
    z-index : 100;

    background : rgba(0, 0, 0, 0);
    backdrop-filter : blur(10px);
    -webkit-backdrop-filter : blur(10px);

    &-container {
        display : flex;
        align-items : center;
    }
}

.logo-image {
    height : 2.2rem;
    width : auto;
    display : block;
}

.logo {
    margin-right : 3rem;
}

.nav-links{
    display: flex;
    gap : 2rem;
    font-size : 1rem;

    a {
        color : #ffffffb3;
        font-weight : 500;

        &:hover {
            color : variable.$text-color;
        }

        &.active {
            color : variable.$text-color;
            background-color : variable.$primary-color;
            padding : 0.5rem 1rem;
            border-radius : 999px;
            font-weight : bold;
        }
    }
}

.nav-icons {
    margin-left : auto;
    display : flex;
    gap : 1.5rem;
    font-size : 1.5rem;
    cursor : pointer;
}

.couverture {
    position : relative;
    width : 100%;
    height : 100vh;
    background-image : url('/bannière_f1_the_movie.jpg');
    background-size : cover;
    background-position : center center;
    margin-top : -10vh;

    &::before {
        content : "";
        position : absolute;
        top : 0;
        left : 0;
        width : 100%;
        height : 100%;
        background : linear-gradient(77deg, #00000099) 0, transparent 85%;
    }

    @media(max-width : 768px) {
        background-image : none;
        height : auto;
        width : auto;

        &::before {
            content : none;
        }
    }
}

.affiche {
    position : absolute;
    top : 50%;
    left : 3rem;
    transform : transalteY(-50%);
    width : 35%;

    @media (max-width : 768px){
        width : 100%;
        position : static;
        display : flex;
        justify-content : center;
    }

    &-mobile {
        display : flex;
        justify-content : center;
        width : 100%;
        margin-top : 5rem;
        border : 1px solid #ffffff;
        text-align : center;
        padding : auto;

        @media (min-width : 768px) {
            display : none;
        }
    }

    &-film {
        width : 50%;
        border-radius : 16px;
        padding : 1rem;
    }
}

.border {
    border : 1px solid #ffffff;
    border-radius : 16px;

    @media(max-width : 768px) {
        border : none;
    }
}

.film-title {
    font-size : 3rem;
    font-weight : bold;
    margin-bottom : 0.5rem;

    @media(max-width : 768px) {
        display : none;
    }
}

.film-description {
    font-size : 0.8rem;
    margin-bottom : 2rem;

    @media(max-width : 768px) {
        display : none;
    }
}


.equilibrage {
    position : absolute;
    bottom : 10%;
    margin-left : 2.5rem;
    display : flex;
    align-items : center;
    width : 90%;

    @media(max-width : 768px) {
        position : static;
        transform : none;
        flex-direction : column;
        align-items : flex-start;
        width : 100%;
        margin : 0;
        padding : 1.5rem 0;
    }
}

.actions {
    display : flex;
    gap : 1rem;

    &-mobile {
        display : flex;
        gap : 1rem;

        @media(min-width : 768px) {
            display : none;
        }
    }

    @media(max-width : 768px) {
        display : none;
    }
}

.btn {
    @include mixin.button-style(variable.$button-background-light, variable.$background-color);

    &.bouton-play {
        background-color : variable.$button-background-light;
        color : variable.$background-color;
    }

    &.bouton-information {
        @include mixin.button-style(variable.$button-background-dark, variable.$text-color);
    }
}

.rating {
    font-size : 1.5rem;
    color : #ffb900;
    display : flex;
    align-items : center;
    margin-left : auto;

    .half {
        color : #ffb900;
    }

    .empty {
        color : #555555;
    }

    @media(max-width : 768px) {
        display : none;
    }
}

.grid {
    display : grid;
    grid-template-columns : 30% 22% 22% 22%;
    grid-template-rows : repeat(2, 400px);
    gap : 1.5rem;
    padding : 3rem;

    @media(max-width : 768px) {
        display : none;
    }
}

.box {
    position : relative;    
    

    &-1{
        grid-row-start : 1;
        grid-row-end: 3;
        transition : transform 0.3s ease-in-out;
        
        &:hover {
            transition : transform 0.3s ease-in-out;
            transform : scale(1.05);
        }
    }

    &-2 {
        transition : transform 0.3s ease-in-out;

        &:hover{
            transition : transform 0.3s ease-in-out;
            transform : scale(1.05);
        }
    }

    &:hover {
        transform : scale(1.05);
    }

    &-3 {
        flex : 0 0 calc(100%/5.5);
        padding : 0 0.5rem;
        box-sizing: border-box;
        transition : transform 0.3s ease-in-out;

        & img {
            width : 100%;
            height : 100%;
            display : block;
            object-fit : cover;
        }

        &:hover {
            transition : transform 0.3s ease-in-out;
            transform : scale(1.05);
        }
    }
}

.cover {
    border-radius : 16px;
    width : 100%;
    height : 100%;
    object-fit : cover;
    transition : transform 0.3s ease-in-out;
}

h2 {
    margin-left : 1.5rem;
    font-size : 1.3rem;
    transition : transform 0.3s ease-in-out;
    display : inline-block;

    &:hover {
        transition : transform 0.3s ease-in-out;
        transform : scale(1.1);
        }
}

.defilement {
    display : flex;
    overflow-x : scroll;
    overflow-y : hidden;
    padding : 1.5rem 1.5rem;
    
    &::-webkit-scrollbar {
        display : none;
    }

    -ms-orverflow-style : none;
    scrollbar-width : none;
}

.gap {
    margin-top : 3rem;
}